<!-- sidebar.component.html -->
<aside class="sidebar">
    <ul>
        <li>
            <a routerLink="/admin">
                <i class="fas fa-tachometer-alt"></i> Dashboard
            </a>
        </li>
        <li>
            <a routerLink="/admin/profile">
                <i class="fas fa-user"></i> Profile
            </a>
        </li>
        <li>
            <a routerLink="/admin/customers">
                <i class="fas fa-users"></i> Customers
            </a>
        </li>
        <li>
            <a routerLink="/admin/experience">
                <i class="fas fa-briefcase"></i> Experience
            </a>
        </li>
        <li>
            <a routerLink="/admin/about">
                <i class="fas fa-info-circle"></i> About Us
            </a>
        </li>
        <li>
            <a routerLink="/admin/projects">
                <i class="fas fa-tasks"></i> Projects
            </a>
        </li>
        <li>
            <a routerLink="/admin/services">
                <i class="fas fa-concierge-bell"></i> Services
            </a>
        </li>
    </ul>
</aside>
